
  
  html, body {
	height: 100%;
	background-color: #f8f9fa;
  }
  
  body {
	align-items: center;
	justify-content: center;
	font-family: Roboto;
	flex-direction: column;
	background-color: #f8f9fa;
  }
  .form {
	  width: 100%;
	  display: flex;
	  margin-bottom: 10px;
  }
  nav {
	  margin-top: 20px;
	  margin-bottom: 15px;
  }
 .search {
	 width: 70%;
 }

  input:focus {
	border: 1px solid #97b46c;
  }

  .search__container {
	  position: absolute;
	  background-color: green;
	  width: 70%;
  }
 
  
li:hover {
	background-color: white;
	opacity: .5;
	color: black;
	cursor: pointer;
}
.card {
	padding: 15px;
	border: 1px solid black;
	margin-bottom: 20px;s
}
.btn {
	margin-left: auto;
}
.btn:hover {
	color: #e96256
}